

.container{
    position: absolute;
    top: 200px;
    left: 400px;
   
}
button{
    background-color: rgb(253, 94, 94);
    margin: 5%;
    border: #000000;
    width:80%;
    right: 30%;
}

